<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">
    <!-- 定义日志输出格式 -->
    <!-- 在app1目录logs写入日志文件 -->
    <property name="log.dir" value="${catalina.base}/logs" />
    <property name="sta_pattern" value="%d{MM-dd HH:mm:ss.SSS} %5p %c.%M:%L [%thread] %m%n"/>
    <property name ="encoding" value="UTF-8"/>

    <!-- 错误日志输出文件配置 -->
    <appender name="errorLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>${sta_pattern}</pattern>
        </encoder>
    </appender>

    <appender name="default"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.dir}/spring_verify.log</File>
        <prudent>false</prudent>
        <Append>true</Append>
        <encoder>
            <pattern>${sta_pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/spring_verify.%d{yyyy-MM-dd-HH}.log
            </fileNamePattern>
        </rollingPolicy>
        <maxHistory>7</maxHistory>
    </appender>

    <!-- 控制台日志 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>${sta_pattern}</pattern>
        </encoder>
    </appender>

    <!-- TODO 注意logger必须正常，如getClass则为子类的名字，注意子类与父类不在同一个包 -->
    <logger level="debug" name="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    </logger>

    <root level="info">
        <appender-ref ref="errorLogger"/>
        <appender-ref ref="default"/>
        <appender-ref ref="console"/>
    </root>

</configuration>