<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
">


    <context:component-scan base-package="com.jessin.practice.bean,com.jessin.practice.service,
com.jessin.practice.bean,com.jessin.practice.listener" >
    </context:component-scan>
    <!-- PropertyPlaceholderConfigurer是一个BeanFactoryPostProcessor，只在该容器中起作用，不可继承-->
    <context:property-placeholder location="classpath*:/test.properties,classpath*:jdbc.properties" />
    <util:properties id="config" location="classpath:/test.properties"/>

    <!--<bean id="abc" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
        <!--<property name="locations">-->
            <!--<list>-->
                <!--<value>classpath*:/test.properties</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
    <bean id="friend" class="com.jessin.practice.bean.Friend">
        <property name="id" value="1"></property>
        <property name="name" value="${USER}"/>
        <property name="user" ref="user"/>
        <!--<property name="date">-->
            <!--<list>-->
                <!--<value>2018-01-02</value>-->
                <!--<value>2019-02-03</value>-->
            <!--</list>-->
        <!--</property>-->
    </bean>

    <alias name="friend" alias="goodFriend"></alias>

    <!--<bean id="applicationEventMulticaster" class="org.springframework.context.event.SimpleApplicationEventMulticaster">-->
        <!--<property name="taskExecutor" ref="executor"/>-->
    <!--</bean>-->

    <!-- http://docs.spring.io/spring/docs/current/spring-framework-reference/html/scheduling.html -->
    <task:executor id="executor" pool-size="50-100" queue-capacity="1600" keep-alive="120"/>
    <task:annotation-driven executor="executor" />

    <!--<aop:aspectj-autoproxy proxy-target-class="true"/>-->

    <!-- 强制使用CGLIB动态代理 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!-- beanName为conversionService，则父子容器均会注入该conversionService-->
    <bean id="conversionService"
          class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <!-- 自定义，优先级高 -->
        <property name="converters">
            <set>
                <!-- 优先使用customEditor，不过推荐使用converter -->
                <!--<bean class="com.jessin.practice.bean.String2DateConverter"></bean>-->
                <bean class="com.jessin.practice.bean.String2UserConverter"></bean>
            </set>
        </property>
    </bean>
    <!--<import resource="offline-mybatis.xml"/>-->
</beans>
