<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/cache
           http://www.springframework.org/schema/cache/spring-cache.xsd
">

    <!-- proxy-target-class="true"，则强制指定使用cglib，
      否则自适应，如果有实现接口则使用jdk动态代理，否则使用cglib
    -->
    <aop:aspectj-autoproxy/>

    <context:component-scan base-package="com.jessin.practice.bean,
    com.jessin.practice.service,
    com.jessin.practice.listener,
    com.jessin.practice.config" >

    </context:component-scan>
    <!-- PropertyPlaceholderConfigurer是一个BeanFactoryPostProcessor，只在该容器中起作用，不可继承-->
    <context:property-placeholder location="classpath*:*.properties" />
    <!-- 在XmlWebApplicationContext中，如果不加classpath，则是相对于ServletContext的 -->
    <util:properties id="config" location="classpath*:/test.properties"/>

    <!--<bean id="abc" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
        <!--<property name="locations">-->
            <!--<list>-->
                <!--<value>classpath*:/test1.properties</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
    <bean id="friend" class="com.jessin.practice.bean.Friend">
        <property name="id" value="1"></property>
        <property name="name" value="${USER}"/>
        <property name="user" ref="user"/>
        <!--<property name="date">-->
            <!--<list>-->
                <!--<value>2018-01-02</value>-->
                <!--<value>2019-02-03</value>-->
            <!--</list>-->
        <!--</property>-->
    </bean>

    <alias name="friend" alias="goodFriend"></alias>

    <!-- 异步EventListener的实现，使用的话全部都是 -->
    <!--<bean id="applicationEventMulticaster" class="org.springframework.context.event.SimpleApplicationEventMulticaster">-->
        <!--<property name="taskExecutor" ref="executor"/>-->
    <!--</bean>-->

    <!-- http://docs.spring.io/spring/docs/current/spring-framework-reference/html/scheduling.html -->
    <task:executor id="executor" pool-size="1-1" queue-capacity="1" keep-alive="120"/>
    <!-- 这里确保标有注解@Async的方法能够生效。
    EventListener默认会生效，在扫描注解注入时便注入了处理器-->
    <task:annotation-driven executor="executor" />


    <!-- beanName为conversionService，则父子容器均会注入该conversionService-->
    <bean id="conversionService"
          class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <!-- 自定义，优先级高 -->
        <property name="converters">
            <set>
                <!-- 优先使用customEditor，不过推荐使用converter -->
                <!--<bean class="com.jessin.practice.bean.String2DateConverter"></bean>-->
                <bean class="com.jessin.practice.bean.String2UserConverter"></bean>
            </set>
        </property>
    </bean>
    <import resource="offline-mybatis.xml"/>


    <cache:annotation-driven/>

    <!-- TODO 缓存管理器中拥有的缓存，name为缓存的key，缓存需要实现Cache接口 -->
    <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="default"/>
                </bean>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="accountCache"/>
                </bean>
            </set>
        </property>
    </bean>
</beans>
